@font-face {
    font-family: Puff;
    src: url(./SentyCreamPuff.ttf);
}

@font-face {
    font-family: Paskowy;
    src: url(./Paskowy.ttf);
}

div.c {
    border: 5px solid;
    border-color: lightblue;
    padding: 5px;
}

img {
    /*width: 100%;*/
    right: 1%;
}

.col-xs-6,
.col-xs-2,
.col-xs-4,
.col-xs-1,
.col-xs-3,
.col-xs-5,
.col-xs {
    background-color: lightblue;
    border: 5px solid;
    border-color: whitesmoke;
    min-width: 195px;
    max-width: 325px;
}

.col-xs-12 {
    background-color: white;
    border: 5px solid;
    border-color: whitesmoke;
}

h4 {
    font-family: Puff;
    font-size: 280%;
}

p {
    font-size: 400%;
}

h5 {
    text-align: right;
    font-family: Puff;
}

li {
    font-family: Puff;
    list-style-type: circle;
    margin-left: -10px;
}

#header {
    background-color: lightblue;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 42px;
    font-family: Paskowy;
}

#nav {
    line-height: 30px;
    background-color: #eeeeee;
    height: 300px;
    width: 100px;
    float: left;
    padding: 5px;
}

#section {
    width: 350px;
    float: left;
    padding: 10px;
}

#footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}